body {
  padding: 8px;
  width: 100%;
}

#header-bar {
  padding: 1rem;
  background-color: transparent;
}

#permalink-btn {
  margin-right: 1rem;
}

#logo {
  color: inherit;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media (width <= 1200px) {
  main {
    flex-direction: column;
  }
}

.split-pane {
  box-sizing: border-box;
  padding: 8px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .split-pane {
    width: 100%;
  }
}

#error-msg,
#success-msg {
  display: none;
}

.CodeMirror {
  height: auto;
  border: solid 1px #555;
  border-radius: 4px;
}

.error-marker {
  width: 1em;
}

#lint-result {
  border-radius: 4px;
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
}

footer {
  margin-top: 32px;
}

.type-toggle {
  margin-right: 1rem;
}

.type-toggle li a {
  padding: calc(.5em - 1px) 1em;
  height: 2.5em;
}