body {
  padding: 8px;
  width: 100%;
}

#header-bar {
  padding: 1rem;
  background-color: transparent;
}

#permalink-btn {
  margin-right: 1rem;
}

#logo {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
}

#linter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media (width <= 1200px) {
  #linter {
    flex-direction: column;
  }
}

#version {
  margin-left: 1em;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-top: 8px;
}

#url-input {
  margin-bottom: 0;
}

#invalid-input {
  display: none;
  word-break: break-all;
}

.split-pane {
  box-sizing: border-box;
  padding: 8px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .split-pane {
    width: 100%;
  }
}

#error-msg,
#success-msg {
  display: none;
}

.CodeMirror {
  height: auto;
  border: solid 1px #555;
  border-radius: 4px;
}

.error-marker {
  width: 1em;
}

#lint-result {
  --bulma-table-background-color: #222;

  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 0;
}

#res-icon {
  margin-right: 0.3em;
}

.sticky {
  position: sticky;
  top: 0;
}

footer {
  margin-top: 32px;
}
