name: CI
on: [push, pull_request]

jobs:
  unit-tests:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: go build ./cmd/actionlint
      - run: go test -v -race -coverprofile coverage.txt
      # Do not take coverage while this repository is private
      # - uses: codecov/codecov-action@v1
